.custom-button {
    min-width: 165px;
    width: 210px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    margin-block-end: inherit;
    cursor: pointer;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }

    &.google-sign-in {
      background-color: #4285f4;
      color: white;

      &:hover {
        background-color: white;
        color: black;
        border: 1px solid #4285f4;
      }
    }

    &.facebook-sign-in {
      background-color: darkblue;
      color: white;

    &:hover {
      background-color: white;
      color: black;
      border: 1px solid darkblue;
    }
  }
    &.secondary-button {
      background-color: lightgrey;
      color: black;

    &:hover {
      background-color: darkgray;
      color: black;
      border: 1px solid black;
    }
  }
}
  